<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
   <display-name>Channel Subscription Servlets</display-name>
    
   <servlet>
     <servlet-name>viewDocuments</servlet-name>
     <servlet-class>cis555.database.contentViewer.ContentViewerServlet</servlet-class> 
     <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet>
     <servlet-name>viewSinglePage</servlet-name>
     <servlet-class>cis555.database.contentViewer.SinglePageServlet</servlet-class>
     <load-on-startup>1</load-on-startup> 
   </servlet>

    
   <servlet-mapping>
     <servlet-name>viewDocuments</servlet-name>
     <url-pattern>/viewDocuments</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>viewSinglePage</servlet-name>
     <url-pattern>/doc</url-pattern>
   </servlet-mapping>  
   

   <!-- add any additional servlets and servlet mappings here -->

</web-app>
